input#setText {
    border: 2px solid darkgray;
    border-radius: 5px;
}

button {
    background: cadetblue;
    margin: 10px;
    padding: 5px;
    border-radius: 5px;
}

.container {
    margin: auto;
}